[submodule "submodules/gdal"]
	path = submodules/gdal
	url = https://github.com/OSGeo/gdal.git
	ignore = dirty
[submodule "submodules/proj4"]
	path = submodules/proj4
	url = https://github.com/OSGeo/proj.4.git
	ignore = dirty
